@{
    ViewData["Title"] = "WellMaster";
}
@model UseApi.Models.WellMaster

<div class="row">
    <div class="mb-2 text-center col-lg-12 @(ViewBag.StatusCode == 200 ? "bg-success" : "bg-danger")">
        <b>@(ViewBag.StatusCode == 200 ? "Connect" : "Not Connect") [@ViewBag.StatusCode] - with API Ocelot</b>
    </div>
    <div class="col-lg-6">
        <h1>WellMaster: Form Add</h1> <hr />
        @if (ViewBag.ShowTable)
        {
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Id">Id</label>
                    <input asp-for="Id" class="form-control" required value="@ViewBag.LastId">
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Area">Area</label>
                    <input asp-for="Area" type="text" class="form-control" required>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type">Type</label>
                    <input asp-for="Type" class="form-control" required>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group text-end mt-2">
                    <a class="btn btn-danger btn-sm" asp-controller="WellMaster" asp-action="Index">Back</a>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        }
    </div>
</div>
